<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs centralize-div">
  <h2 class="centralized-text">Entrar</h2>
    <%= f.input :email,
                label: 'Email',
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %><br>
    <%= f.input :password,
                label:'Senha',
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>
    <div class="form-actions centralize-div">
      <%= f.button :submit, "Entrar" %>
    </div>

<% end %>

