<div class="divider"></div>
<div class="row">
	<div class="col s11">
		<h4 style="color:blue">Título</h4>
	</div>
	<div class="col s1">
		<a onclick="M.toast({html: <%=@post.comments.count%>} )" class="waves-effect waves-light btn"><i class="material-icons left">question_answer</i></a>
	</div>
	<div class="col s12"><h4><%=@post.title%></h4></div>
	<div class="col s12"><h4 style="color:blue">Conteúdo</h4></div>
	<div class="col s12"><h4><%=@post.content%></h4></div>
</div>
<div class="divider"></div>
<h5><%= render @post.comments%></h5>

<div clas="container">
<%= render "comments/form"%>
</div>

<nav>
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo"></a>
		<ul class="center">
			<li><%= link_to "Edit",edit_post_path(@post),class: "waves-effect waves-light btn blue lighten-3"%></li>
			<li><%= link_to "Delete", post_path(@post), method: :delete, class: "waves-effect waves-light btn blue lighten-3",data: {confirm: "Você tem certeza que quer fazer isso?"}%></li>
			<li><%= link_to "Home", root_path, class: "waves-effect waves-light btn blue lighten-3"%></li>
		</ul>
	</div>
</nav>
