<!DOCTYPE html>
<html>
	<head>
		<title>Fórum</title>
		<%= csrf_meta_tags%>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'%>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
		<link rel= "stylesheet", href= "http://fonts.googleapis.com/css?family=Lato:300,400,700", type= "text/css" />
		<link rel ="stylesheet", href = "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>

	</head>
<body>
	<div class="container">
		<nav>
			<div class="row">
				<div class="col s4 offset-s4" style="text-align:center">
					<%= link_to root_path do %>
						<%= content_tag :span, "Fórum", class: "brand-logo" %>
					<% end %>
				</div>
				<div class="col s2 offset-s2">
					<% if user_signed_in? %>
						<%= link_to new_post_path do %>
							<%= content_tag :span, "Novo tópico", class:"waves-effect waves-light btn" %>
						<% end %>
					<% else%>
						<%= link_to new_user_registration_path do %>
							<%= content_tag :span, "Registrar-se", class: "waves-effect waves-light btn" %>
						<% end %>
					<%end%>
				</div>
			</div>
  	</nav>
		<%= yield%>
	</div>
</body>
</html>
